

.landingPage {
  background-color: var(--dark-green);
  color: white;
  display: flex;
  height: 100vh;
  align-items: center;
}

.landingPageBtn {
  background-color: var(--mid-green);
  border: none;
  color: white;
  font-size: 18px;
  padding: 15px 35px;
}

.landingPageBtn:hover {
  background-color: var(--mid-green);
}

.landingPageImageContainer {
  align-self: flex-end;
  filter: saturate(0);
  margin-right: -80px;
  
}

.landingPageText {
  padding-right: 80px;
}